<div class="grid-brd brd-blue">
  <div class="text-card">
    <p>
      Learn the fundamentals of electronics bevore getting started with synth design
    </p>
    <a class="btn-1" href="/articles/electronic-basics/">
      Learn
  </a>
  </div>
  <div class="img-card">
    <img
      src="https://images.unsplash.com/photo-1579803168341-9691c1852995?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
      alt="Electronic components"
    />
  </div>
</div>
