<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modular Synthicate</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <main>
    <div class="center">
    <h1 class="red max">404</h1>
    <h2 class="red">this page could not be found</h2>
    <br>
    <a href="/">
        <button class="btn-3"> Return to homepage</button></a>
    </div>
    </main>
</body>
</html>